[build-system]
requires = ["setuptools>=61.0"]
build-backend = "setuptools.build_meta"

[project]
name = "meshpack"
version = "{{ version }}"
authors = [
  { name="Mesh-Sync", email="contact@meshsync.net" },
]
description = "Standard MeshPack SDK"
readme = "README.md"
license = "MIT"
requires-python = ">=3.10"
classifiers = [
    "Programming Language :: Python :: 3",
    "Operating System :: OS Independent",
]
dependencies = [
  "pydantic>=1.10.0",
  "blake3>=0.4.1",
  "cryptography>=41.0.0"
]

[project.urls]
"Homepage" = "https://github.com/Mesh-Sync/standard-meshpack"
