[package]
name = "meshpack"
version = "{{ version }}"
edition = "2021"
license = "MIT"
description = "Standard MeshPack SDK"
homepage = "https://github.com/Mesh-Sync/standard-meshpack"
repository = "https://github.com/Mesh-Sync/standard-meshpack"
readme = "README.md"

[dependencies]
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
sha2 = "0.10"
blake3 = "1.5"
base64 = "0.22"
ed25519-dalek = "2.1"
rsa = { version = "0.9", features = ["sha2"] }
chrono = { version = "0.4", features = ["serde"] }
zip = "0.6"
typed-builder = "0.18"